.breadcrumb {
	list-style: none;
	@include px-node;
	@include px-font-size(1.4);
	@include px-screen-size (s) {
		display: none;
		+ * {
			margin-top: 0;
		}
	}
}
.breadcrumb_item {
	@include px-inline-block;
	> a {
		display: block;
		position: relative;
		margin-right: 8px;
		padding-right: 12px;
		&:before {
			content: '\203A';
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -2px;
			line-height: 0;
			font-weight: bold;
			color: $color-base;
		}
	}
}