.pagine {
	@include px-node;
	@include px-font-size(1.6);
	list-style: none;
	text-align: center;
	li {
		@include px-inline-block;
		&.sep,
		> * {
			padding: .2em .6em;
			.touch & {
				padding: .1em 1.5em;
			}
		}
		> * {
			display: block;
		}
		+ li {
			border-left: 1px solid $color-grey;
		}
	}
	a {
		color: $color-base;
		&:hover {
			background-color: $color-grey-light;
		}
	}
	.active {
		color: $color-blue;
		font-weight: bold;
	}
}