$select-height: 40px;
.select-init {
	opacity: 0;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 10px solid transparent;
	cursor: pointer;
	.no-touch & {
		z-index: 0;
	}
	&:focus {
		+ .select {
			outline: 1px solid $color-base;
		}
	}
}
.select {
	position:relative;
	z-index:1;
	@include px-inline-block(top);
	min-width:155px;
	margin: 0;
	@include px-font-size(1.5);
	font-family: $font-noserif;
	@include px-screen-size (s) {
		width: 100%;
	}
}
.select dt {
	text-align: left;
	color: #999;
	background-color:#fff;
	border:1px solid $color-base;
	cursor:pointer;
	zoom: 1;
}

.select dt .text,
.select dt .action {
	height:$select-height;
	line-height:$select-height;
}
.select dt .text {
	overflow:hidden;
	@include px-inline-block(top);
	padding:0 10px;
	text-align:left;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.select dt .action {
	float:right;
	width:29px;
	text-align:center;
	background: #fff;
	border-left:1px solid $color-base;
}
.select dt .action i {
	// @extend .ico-cursor-bottom-black;
}
.select dd {
	display:none;
	position:absolute;
	top:-4px;
	top: -2px\9;
	left:0;
	margin: 0;
	min-width:100%;
	white-space:nowrap;
	@include box-shadow(0 0 10px rgba(0,0,0,0.4));
}
.select dd ul {
	list-style: none;
	overflow:auto;
	max-height:200px;
	padding:5px;
	margin-bottom: 0;
	border:1px solid #ccc;
	background-color:#fff;
}
.select dd li {
	display: block;
	text-align:left;
	padding:5px;
}
.select dd li.label {
	font-weight:700;
}
.select dd li[data-value] {
	cursor:pointer;
}
.select dd li[data-value]:hover {
	background:#eee;
}
.select dd li[data-value].focus {
	color:#fff;
	background-color:#000;
}
.select dd li.indented {
	padding-left:20px;
}
.select dd li.selected {
	font-weight:700;
}

.select.open {
	z-index:4;
}
.select.open dd {
	display:block;
}

.select-wrap,
.select-separator {
	@include px-inline-block(middle);	
}
.select-wrap {
	position: relative;
}
.select-separator {
	overflow: hidden;
	height: $select-height;
	line-height: $select-height;
}
