$button-color-default: $color-blue;

// Base de tous les boutons
@mixin button-base {	
	@include box-sizing(border-box);
	@include px-inline-block;
	margin: 1px;
	padding: .65em .8em;
	text-align: center;
	border: 0;
	@include border-radius(2px);
	@include px-font-size(1.4);
	font-weight: bold;
	@include px-font-smoothing;
	font-family: $font-base;
	cursor: pointer;
	color: $link-color;
	border: 1px solid transparent;
	@include transition(background-color .1s ease-in);
	&:active {
		position: relative;
		top: 1px;
	}
}

// Classe de base
.btn {
	@include button-base;
}

// Classes de thème
.btn--naked {
	&:hover,
	&:active {
		background-color: #f5f5f5;
	}
}
.btn--text {
	font-weight: normal;
	color: $color-base;
	&:active {
		color: $color-base;
	}
}
.btn--default {
	color: #fff;
	background-color: $button-color-default;
	&:focus,
	&:hover,
	&:active {
		color: #fff;
		background-color: darken($button-color-default, 5%);
	}
}
.btn--default-outline {
	color: #fff;
	border-color: #fff;
	&:hover,
	&:active {
		color: #fff;
		background-color: rgba(0,0,0,.1);
	}
}
.btn--mute {
	font-weight: normal;
	color: $color-base;
	background-color: $color-grey;
	&:hover,
	&:active {
		color: $color-base;
		background-color: darken($color-grey, 5%);
	}
}
.btn--light {
	font-weight: normal;
}

// Classes de tailles
.btn--large {
	@include px-font-size(1.8);
}

// Classes de disposition
.btn--full {
	display: block;
}

// Shortcuts
.button {
	@extend .btn;
	@extend .btn--default;
}

// Thème par défaut des boutons de formulaire
input[type="submit"],
button {
	@extend .button;
}