/**
 * Font face syntax
 * http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax
 * http://www.fontspring.com/blog/further-hardening-of-the-bulletproof-syntax
 * /!\ When using data uri fonts, an extra declaration is required.
 *
 * 1 - eot    => IE9 compat modes
 * 2 - eot(?) => IE6 - IE8 (querystring hack)
 * 3 - woff   => Modern browsers (IE9+)
 * 4 - ttf    => Android, iOS4.3 and below, Legacy Safari and Opera

@font-face {
	font-family: 'font-family-name';
	font-weight: normal;
	font-style: normal;
	src: url($path-font + 'font-file-name.eot'); // 1
	src: url($path-font + 'font-file-name.eot?#iefix') format('embedded-opentype'); // 2
}
@font-face {
	font-family: 'font-family-name';
	font-weight: normal;
	font-style: normal;
	src: url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), // 3
    	 url($path-font + 'font-file-name.ttf') format('truetype'); // 4
}
*/

// @include px-font-face('metaserifpro', 'metaserifpro-bold-webfont', bold);
// @include px-font-face('metaserifpro', 'metaserifpro-book-webfont', normal);