// base styles for text fields
@mixin input-base {
	width: 100%;
	max-width: 400px;
	height: 35px;
	padding: 5px 10px;
	@include px-font-size(1.6);
	border: 1px solid $color-grey;
	@include box-sizing(border-box);
	font-family: $font-base;
	@include border-radius(2px);
	color: $color-base;
	background-color: #fff;
	@include px-placeholder {
		color: #999;
		@include px-font-smoothing;
	}
	&:focus {
		border-color: $link-color;
		@include px-placeholder {
			color: #ddd;
		}
	}
	.lte-ie7 & {
		width: auto;
	}
}

// base
select,
input[type="checkbox"],
input[type="radio"] {
	vertical-align: 1px;
	cursor: pointer;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"] {
	@include input-base;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	.lte-ie7 & {	
		height: 14px;
	}
}
textarea {
	@include input-base;
	@include px-inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	line-height: 1.4;
	padding: 10px;
	height: auto;
	background: #fff;
}
label {
	//display: block;
	font-weight: bold;
	.form-type-checkbox &,
	.form-type-radio & {
		display: inline;
		padding-left: 5px;
		font-weight: normal;
	}
	&.has-placeholder {
		display: none;
		.lte-ie8 & {
			display: block;
		}
	}
}
select {
	@include input-base;
}
button {
	cursor: pointer;
}
.form-item {
	.description {
		color: $color-grey-dark;
	}
}
