// Text alignement + Typo
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.serif { font-family: $font-serif; }
.noserif { font-family: $font-noserif; }

// Toggle show/hide
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.block {
	display: block;
}
.no-touch .touch--required,
.touch .touch--exclude,
.no-js .js--required,
.js .js--exclude {
	display: none !important;
}

// Spacer
.node {
	margin-bottom: $space;
}

// Fake link
.a {
	cursor: pointer;
}

// Image fluide
.img-fluid {
	@include px-img-fluid;
}

// Float + CLear
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }

// Media object
// http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
.mediao {
	overflow: hidden;
	@include px-clearfix;
}
.mediao__body {
	overflow: hidden;
}
.mediao__figure {
	float: left;
	margin-right: $space;
}
.mediao__figure--rev {
	float: right;
	margin-left: $space;
}
.mediao__figure,
.mediao__figure--rev {
	img {
		display: block;
	}
}

// Toggle via screen size
@each $breakpoint in $breakpoints {
	$name: nth($breakpoint, 1);
	@include px-screen-size ($name) {
		.state-none--screen-#{$name} {
			display: none;
		}
		.state-block--screen-#{$name} {
			display: block;
			width: auto !important;
		}
	}
}
