$nb-cols: 12;
//$col-gutter: 3%;
$col-gutter: 30px;
$container-edge: $col-gutter/2;

.trunk,
.container {	
	padding-left: $container-edge;
	padding-right: $container-edge;
}
.trunk {
	max-width: $size-base+px;
	margin: auto;
	@include px-mq-size ($size-base+30+20) {
		margin: 0 10px;
	}
	@include px-screen-size (m) {
		padding-left: 0;
		padding-right: 0;
	}
	@include px-screen-size (s) {
		margin: 0;
	}
}

// Grid system
.grid {
	margin-left: -$container-edge;
	margin-right: -$container-edge;
}
.grid_row {
	@include px-node;
	table-layout: fixed;
	//@include px-clearfix;
	@include px-table(top);
	@include px-screen-size (s) {
		display: block;
	}
}

%grid_col {
	min-height: 10px;
	padding-left: $container-edge;
	padding-right: $container-edge;
	.grid_row--sep & {
		border-left: 1px solid $color-grey;
		&:first-child {
			border-left: 0;
		}
	}
	@include px-screen-size (s) {
		//float: none !important;
		display: block;
		width: auto !important;
		+ [class^="grid_col"] {
			margin-top: $col-gutter;
		}
	}
}

[class^="grid_col"] {
	@extend %grid_col;
}

@for $i from 1 through $nb-cols {
	.grid_col-#{$i}-#{$nb-cols},
	.layout_col-#{$i}-#{$nb-cols} {
		width: #{$size-base/$nb-cols*$i*100/$size-base + '%'};
	}
}

@for $i from 1 through $nb-cols {
	.grid_push-#{$i}-#{$nb-cols} {
		margin-left: #{$size-base/$nb-cols*$i*100/$size-base + '%'};
	}
}

// Main layout
.layout {
	@extend .grid;
}
.layout_row {
	@include px-clearfix;
}
[class^="layout_col"] {
	@include box-sizing(border-box);
	float: left;
	padding: 0 15px;
	@include px-screen-size (s) {
		width: auto !important;
		float: none;
		+ [class^="layout_col"] {
			margin-top: $col-gutter;
		}
	}
}
