// 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
// http://clagnut.com/blog/348/#c790
// 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
// www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
html  {
	font-size: $typo-size-base; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-tap-highlight-color: transparent;
}

// Declare RWD main breakpoints for JS detection
// PX.test('rwd')
html:before {
	display: none;
	content: 'desktop';
	@include px-device(tablet, true) {
		content: 'tablet';
	}
	@include px-device(mobile) {
		content: 'mobile';
	}
}
html:after {
	display: none;
	content: 'm';
	@each $breakpoint in $breakpoints {
		$name: nth($breakpoint, 1);
		@if $name != 'm' {
			$opts: only;
			@if $name == 'xl' {
				$opts: min;
			}
			@include px-screen-size ($name, $opts) {
				content: '#{$name}';
			}
		}
	}
}

body {
	margin: 0;
	@include px-font-size($typo-size-body);
	line-height: $typo-line-height-base;
	font-family: $font-base;
	color: $color-base;
	background-color: $color-grey-light;
	@include px-font-smoothing;
	&.debug {
		background-image: url($path-img + 'grid.png');
		background-position: center top;
		background-repeat: repeat-y;
	}
}

// Links
a, a:hover {
	text-decoration: none;
	color: $link-color;
}

:focus {
	outline: 0;
}
:active {
	outline: 0;
}

// Heading
$headings: h1, h2, h3, h4, h5;
@each $tag in $headings {
	#{$tag} {
		font-size: 100%;
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 0;
	}
}

@each $element in ul, ol {
	#{$element} {
		@if $element == ul {
    	list-style-type: square;
    }
		@else if $element == ol {
    	list-style-type: decimal;
    }
		list-style-position: inside;
		margin: 0 0 $space 0;
		padding-left: 0;
		&:last-child {
			margin-bottom: 0;
		}
		.lte-ie7 & {
			margin-left: 0;
		}
	}
}

p {
	margin-top: 0;
	@include px-node;
}

dl {
	margin: 0;
}

img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}

blockquote {
	margin: 0;
}

pre {
	margin: 0;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: monospace, serif;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

svg:not(:root){
	overflow: hidden;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

button,
input,
select,
textarea {
	margin: 0;
	vertical-align: middle;
	font-family: $font-noserif;	
}

// Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
button,
input {
	line-height: normal;
}

// 1. Improves usability and consistency of cursor style between image-type 'input' and others
// 2. Corrects inability to style clickable 'input' types in iOS
// 3. Removes inner spacing in IE7 without affecting normal text inputs
// Known issue: inner spacing remains in IE6
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer; // 1
	-webkit-appearance: button; // 2
	.lte-ie7 & {
		overflow: visible;  // 3
	}
}

// 1. Addresses box sizing set to content-box in IE8/9
// 2. Removes excess padding in IE8/9
// Known issue: excess padding remains in IE6
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; // 1
	padding: 0; // 2
}

// 1. Reset appearance set to searchfield in S5, Chrome
input[type="search"] {
	-webkit-appearance: none; // 1
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

// Removes inner padding and search cancel button in S5, Chrome on OS X
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

//Removes inner padding and border in FF3+
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

// 1. Removes default vertical scrollbar in IE6/7/8/9
// 2. Improves readability and alignment in all browsers
textarea {
	overflow: auto; // 1
	vertical-align: top; // 2
}

// Remove most spacing between table cells
table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}
tbody { // Override Drupal
	border-top: 0;
}
