// Headings
%hx {
	display: block;
	line-height: 1.1;
	font-weight: bold;
}
.h1 {
	@extend %hx;
	margin-bottom: $space;
	letter-spacing: -1px;
	@include px-font-size(3.2);
	@include px-screen-size (xs) {
		letter-spacing: 0;
		@include px-font-size(2.8);
	}
}
.h2 {
	@extend %hx;
	margin-bottom: $space;
	@include px-font-size(2.4);
	@include px-screen-size (xs) {
		@include px-font-size(2.2);
	}
}
.h3 {
	@extend %hx;
	margin-bottom: 15px;
	@include px-font-size(2);
	@include px-screen-size (xs) {
		@include px-font-size(1.8);
	}
}
.h4 {
	@extend %hx;
	margin-bottom: 10px;
	@include px-font-size(1.4);
}