// Third parties
@import 'compass';

// Directories
$path-img: '../../img/';
$path-font: '../../font/';


// Base color
$color-base: #333;

// Base typo
$typo-size-base: 10px;
$typo-size-body: 1.6;
$typo-line-height-base: 1.4;

// Fonts
$font-serif: georgia, times, serif;
$font-noserif: helvetica, arial, sans-serif;
$font-base: $font-noserif;

// Responsive Breakpoints
$size-s: 600;
$size-m: 960;
$size-l: 1280;

$breakpoints: 
	(xs 480),
	(s 700),
	(m 960),
	(l 1280),
	(xl 1400);

@function px-get-screen-size ($name) {
	@each $breakpoint in $breakpoints {
		@if $name == nth($breakpoint, 1) {
			@return nth($breakpoint, 2);
		}
	}
}
$size-base: px-get-screen-size(m);

// Sprites
$sprites-spacing: 10px;
$sprites  : sprite-map('sprites/*.png',    $spacing: $sprites-spacing);
$sprites2x: sprite-map('sprites-2x/*.png', $spacing: 2*$sprites-spacing);
$icons-list: false !default;

// Marge globale pour garder un rythme vertical/horizontal cohérent
$space: 15px;

// Dev mode
$dev-mode: true;