// Override base
$typo-size-body: 1.4;

// Fonts
$font-base: sans-serif;

// Colors
$color-blue: #0c7cb0;

$color-grey: #e6e6e6;
$color-grey-dark: #999;
$color-grey-light: #fafafa;

$color-connexite: $color-blue;

// Components colors
$link-color: $color-blue;
